@media (min-width: 600px){
  .HeroImage{
    width: 100%;
    height: 70vh;
  }
}

@media (min-width: 519.200px){
  .HeroImageTexts h1, p{
    width: 480px;
  }
}



@media (max-width: 768px) {

  .nav-section {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 80px 30px;
    z-index: 6;
    transition: right 0.3s ease;
  }

  .nav-section.show {
    right: 0;
  }

  .NavContainer ul {
    flex-direction: column;
    gap: 1rem;
  }
  
  .NavContainer ul li a {
    font-size: 16px;
    display: block;
    padding: 10px 0;
  }

   .HeroImageTexts h1, p{
    margin-bottom: 1rem;
  }
   .HeroImageTexts p{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); 
  }
  .Featured {
    margin: 10px 0 30px 0; 
    height: auto;
    overflow: visible;
  }

  .featuredContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    gap: 10px; 
    height: auto;
  }
  .productContainer{
    width: 100%;
    margin-bottom: 10px;
  }
  .ViewProdBtn{
    margin: 20px 0;
  }


  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .social-icons a {
    font-size: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
 

   .storyimgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .StoryImage {
    width: 90%; 
    height: auto;
   
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .HeroImage{
    height: 70vh;
  }
   .Featured {
    margin: 10px 0 30px 0; 
    height: auto; 
    overflow: visible; 
  }
  .featuredContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2px;
    height: auto; 
    padding: 10px 0;
  }
  .productContainer{
    margin-bottom: 20px;
    height: auto;
    width: 80%;
    padding: 10px;
    white-space: normal;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;     /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center;      /* Center text */
    padding: 20px;
    box-sizing: border-box;
    height: 100%;            /* Ensure it fills the grid cell */
  }
  small{
    height: auto;
    width: auto;
  }
}

@media (max-width: 1052px){
  .blossomimgcontainer img{
    width: 500px;
    height: auto;
  }
  .Highlight{
    justify-content: center;
    align-items: center;
  }
  .blossomimage {
   margin: 0 auto;
    max-width: 80%;
  }
}

@media (max-width: 1260px){
 .namePrice h3, price, small{
    font-size: 12px;
  }
  .productContainer{
    height: auto;
  }
}

@media (max-width: 1200px){
  .HeroImage{
    height: 70vh;
  }
  .lowerRight{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
  }
  .ourstory{
    font-size: 0.8em;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
}

@media (max-width: 1052px){
  .ourstory{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center!important;
    width: 70%;
    padding: 0 20px;
  }
  .lowerRight{
    margin-top: 10px;
    gap: 10px;
  }
}

@media (max-width: 530px){
  .HeroImage{
    padding: 50px 10px;
  }
  .HeroImageTexts{
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .namePrice span h3{
    white-space: normal;
    font-size: 12px;
  }

  .namePrice{
    white-space: normal;
    flex-direction: column;
     align-items: flex-start;
    gap: 0.25rem;  
  }

   .storyimgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .StoryImage {
    width: 90%; 
    height: auto;
  }
}



